---
layout: page
title: 关于我
---
<div class="itsme">
    {% for item in site.itsme %}
        <h3>{{ item.name }}</h3>
        <em></em>
        {% for el in item.con %}
            {% if el.tag == 'img' %}
            <{{ el.tag }} src="{{site.baseurl}}/{{ el.url }}" class="{{ el.class }}" />
            {% else %}
            <{{ el.tag}} class="{{ el.class }}"> {{ el.text }} </{{ el.tag }}>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
<div class="aboutme">
    {% for item in site.aboutme %}
        <h3>{{ item.name }}</h3>
        <em></em>
        {% for el in item.con %}
            {% if el.tag == 'img' %}
            <{{ el.tag }} src="{{site.baseurl}}/{{ el.url }}" class="{{ el.class }}" />
            {% else %}
            <{{ el.tag}} class="{{ el.class }}"> {{ el.text }} </{{ el.tag }}>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
