<header>
    <div class="site-nav clearfix wrap">
        <div class="logo">
            <a href="{{ site.baseurl }}/">首页</a>
        </div>
        <nav>
            <ul class="clearfix">
                {% for page in site.pages %}{% if page.title %}
                <li class="nav-item">
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}{% endfor %}
            </ul>
        </nav>
        <div class="quick-menu">
            测试
        </div>
    </div>
</header>
