$main: #1a222c;
$sec: #4B5664;
$purple: #54516A;
$cut: 768px;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px;
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
}

@keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
}

#particles-js {
  background: $main;
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
  }
}

.content {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    font-size: 50px;
    display: block;
    line-height: 1.7;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 72px;
    }
  }
  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
    @media only screen and (min-width:$cut){
      font-size: 32px;
    }
  }
  .link {
    color: #FFF;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}

.iconfont {
    font-size: 48px;
}
