$main: #1a222c;
$sec: #174836;
$purple: #54516A;
$cut: 768px;

body {
  margin: 0;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  font-size: 14px;
}
ul li {
    list-style: none;
}
div, ul, figure, p, pre, header, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    line-height: 1.7;
}
img {
    max-width: 100%;
}
code, pre {
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}
a {
    color: #333;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-weight: 500;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}
/* 动画 */
@-webkit-keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px;
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
}

@keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
}
/* 首页canvas */
#particles-js {
  background: $main;
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
  }
}
/* 首页内容 */
.content {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    font-size: 50px;
    display: block;
    line-height: 1.7;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 72px;
    }
  }
  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
    @media only screen and (min-width:$cut){
      font-size: 32px;
    }
  }
  .link {
    color: #FFF;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}
/* nav */
header {
    background-color: #36ab60;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .site-nav {
        height: 55px;
        line-height: 55px;
        margin: 0 auto;
        .logo {
            float: left;
            height: 55px;
            text-align: center;
            font-size: 15px;
            margin-right: 40px;
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
        nav {
            float: left;
            display: none;
            li.nav-item {
                float: left;
                padding: 0 8px;
                position: relative;
                margin-bottom: 0;
                @media only screen and (min-width:$cut){
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
        .quick-menu {
            float: right;
            height: 55px;
            display: block;
        }
        @media only screen and (min-width:$cut){
            .logo {
                font-size: 22px;
            }
            nav {
                display: block;
            }
            .quick-menu {
                display: none;
            }
        }
    }
    .clearfix {
        &:after {
            display: table;
            content: "";
        }
        &:before {
            display: table;
            content: "";
        }
    }
    .wrap {
        width: 90%;
        margin: 0 auto;
        @media only screen and (min-width:$cut){
            width: 1024px!important;
            margin: 0 auto;
            padding: 0 15px;
        }
    }
    a {
        color: #FFF;
        display: inline-flex;
        justify-content: space-between;
        text-decoration: none;
        font-size: 18px;
        text-decoration: none;
        &:hover {
            color: $sec;
        }
        @media only screen and (min-width:$cut){
            font-size: 20px;
        }
    }
}
.wrapper {
    max-width: 1024px;
    margin: 70px auto 50px;
    @media only screen and (min-width:$cut){
        margin: 70px auto 70px;
    }
    padding: 0 10px;
    overflow: hidden;
    p {
        text-align: justify;
    }
}
/** isme **/
.itsme {
    @media only screen and (min-width:$cut){
        width: 75%;
        float: left;
        padding: 10px;
    }
}
.aboutme {
    @media only screen and (min-width:$cut){
        width: 25%;
        float: left;
    }
}
.itsme em,
.aboutme em {
    width: 80px;
    height: 2px;
    background-color: #ff00fa;
    display: block;
    margin-bottom: 15px;
}
.post-preview {
    margin-bottom: 10px;
    color: #333;
    border-bottom: 1px solid #1fcc3d;
    .post-title {
        color: #00aa9c;
    }
    .post-content-preview {
        color: #939393;
    }
    .post-meta {
        color: #1fcc3d;
    }
}
/* 页脚 */
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: $main;
    text-align: center;
    color: #FFF;
    p {
        @media only screen and (min-width:$cut){
            font-size: 16px;
            margin-bottom: .25em;
        }
    }
    a {
        text-decoration: none;
        margin: 0;
        color: #FFF;
        &:hover{
            color: #fff;
        }
        &:active {
            color: $sec;
        }
    }
}
/* iconfont */
.iconfont {
    font-size: 20px;
    @media only screen and (min-width:$cut){
        font-size: 32px;
    }
}
